$text-color: #e8eaed;
$grey:#9ca3af;

/* =====================font size==================== */
$font-size1: 1.5rem;
$font-size2: 1.2rem;
$font-size3: 1.8rem;
$font-size4:1rem;

/* ==================== font family================== */
$dancing-script: "Dancing Script", cursive;

/* ==================button colors================= */

$primary-light: #9e6ee6;
$primary-dark: #6f5ed5;

$z-fixed: 100;