.footer{
    background-color:#131324;
    position: absolute;
    text-align: center;
    width:100%;
    padding-top:2rem;
    padding-bottom:1rem;
}

.fem{
    width:1.5rem
}

.fem,.github,.linkedin{
    cursor:pointer
}