@use "../utils/mixin" as *;
@use "../utils/breakpoints" as *;
@use "../utils/variables" as *;

.home {
  @include displayFlex($gap: 10rem);
  align-items: center;
}
.home__content {
  font-size: $font-size3;
  color: $text-color;
  text-align: center;
  @include md {
    text-align: left;
  }
  .text1 {
    animation: slideInFromLeft 1s linear;
  }
  .text2 {
    animation: slideInFromLeft 1.5s linear;
  }
  .text3 {
    animation: appear 1.5s linear forwards;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

.text1::after {
  display: inline-block;
  content: "👋";
  animation: wave 1.6s linear infinite;
}

.text3::before{
    display: block;
    content:"<p>";
    font-size:$font-size2;
    color:$grey;
    font-family: $dancing-script;
}

.text3::after{
    display: block;
    content:"</p>";
    margin-left:22rem;
    font-size:$font-size2;
    color:$grey;
    font-family: $dancing-script;
}


.home__gif{
    border:2px solid red;
    border-radius: 50%;
    aspect-ratio: 1;
}
