@use "../utils/mixin" as *;
@use "../utils/breakpoints" as *;
@use "../utils/variables" as *;

.home {
    @include displayFlex($direction:column);
  @include md{
    @include displayFlex();

  }
  align-items: center;
  justify-content: space-between;
}

.home__content {
  font-size: $font-size3;
  @include displayFlex($direction:column ,$gap:2rem);

  color: $text-color;
  text-align: center;
  .home__button{
    @include  displayFlex($direction:column)
  }
  @include md {
    text-align: left;
    .home__button{
      @include  displayFlex();
      justify-content:space-between
    }
  }
  
  .text1 {
    animation: slideInFromLeft 0.5s linear;
  }
  .text2 {
    animation: slideInFromLeft 0.5s linear forwards;
    animation-delay: 0.5s;
    visibility: hidden;
  }
  
 
  .text3 {
    animation: appear 1.5s linear forwards;
    animation-delay: 0.5s;

  }

 
}
.code-img {
  width: 100%;
  object-fit: contain;
  padding:1.2rem;
  border-radius:50%;
  aspect-ratio: 1;
  }


.text1::after {
  display: inline-block;
  content: "👋";
  animation: wave 1.6s linear infinite;
}


.text3::before {
  display: block;
  content: "<p>";
  margin-left:-19rem;
  @include md{
    margin-left: 0;
  }
  font-size: $font-size3;
  color: $grey;
  font-family: $dancing-script;
}

.text3::after {
  display: block;
  content: "</p>";
  
    margin-left:18rem;
  @include lg{
  margin-left: 22rem;
  }
  font-size: $font-size3;
  color: $grey;
  font-family: $dancing-script;
}


